<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <description></description>
    <display-name>HelloServerlet</display-name>
    <servlet-name>HelloServerlet</servlet-name>
    <servlet-class>hnet.codejava.javaee.HelloServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServerlet</servlet-name>
    <url-pattern>/HelloServerlet</url-pattern>
  </servlet-mapping>
  <display-name>hello</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Serverlet</display-name>
    <servlet-name>Serverlet</servlet-name>
    <servlet-class>hnet.codejava.javaee.Serverlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serverlet</servlet-name>
    <url-pattern>/helloserverlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>net.codejava.javaee.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/helloServlet</url-pattern>
  </servlet-mapping>
</web-app>